<section class="col-md-9 catalog">
  <h1>{{page.title}}</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="img/fabrics/colors/blue-cat_LRG_0.jpg" class="img-responsive">
      <p>Blues and Teals</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/earthtones-cat_LRG_0.jpg" class="img-responsive">
      <p>Earthtones</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/fuchsia-cat_LRG_0.jpg" class="img-responsive">
      <p>Fuschias</p>
    </div>
    <div class="col-md-4">
      <img src="img/fabrics/colors/green-cat_LRG_0.jpg" class="img-responsive">
      <p>Greys and Black</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/grey-cat_LRG_0.jpg" class="img-responsive">
      <p>Greens</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/orange-cat_LRG_0.jpg" class="img-responsive">
      <p>Oranges</p>
    </div>
    <div class="col-md-4">
      <img src="img/fabrics/colors/purple-cat_LRG_0.jpg" class="img-responsive">
      <p>Purples</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/red-cat_LRG_0.jpg" class="img-responsive">
      <p>Reds</p>
    </div>

    <div class="col-md-4">
      <img src="img/fabrics/colors/yellow-cat_LRG_0.jpg" class="img-responsive">
      <p>Yellows</p>
    </div>
  </div>
</section>