<section class="col-md-9 catalog">
  <h1>{{page.title}}</h1>

  <!-- Logic for description of cotton or silk -->
  {% if page.url == '/cotton-fabrics.html' %}
  
  <img src="img/fabrics/cotton/green-small.jpg" class="pull-left">
  <p>I use 100% cotton. My dyeing and cleaning process ensures that the fabric is pre-shrunk and washable. I suggest washing the fabric by hand using mild soap or machine washing it on a gentle cycle. If you plan to use any fabric with dark background in a quilt or garment with light fabrics, always rinse first until water runs clear. Dry fabric in the dryer, and iron the reverse side on medium heat.</p>
  
  {% elsif page.url =='/silk-fabrics.html' %}

  <img src="img/fabrics/cotton/green-small.jpg" class="pull-left">
  <p>Hand-dyed and marbled silk. This silk is high quality 19mm Chameuse with a satin front and crepe back. Other types of silk are also available. Please call for more information. I offer silk in yards only at $70 per yard.</p>

  {% endif %}

  <div class="row">
    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/blue-cat_LRG_0.jpg" class="img-responsive">
      <p>Blues and Teals</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/earthtones-cat_LRG_0.jpg" class="img-responsive">
      <p>Earthtones</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/fuchsia-cat_LRG_0.jpg" class="img-responsive">
      <p>Fuschias</p>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/green-cat_LRG_0.jpg" class="img-responsive">
      <p>Greys and Black</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/grey-cat_LRG_0.jpg" class="img-responsive">
      <p>Greens</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/orange-cat_LRG_0.jpg" class="img-responsive">
      <p>Oranges</p>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/purple-cat_LRG_0.jpg" class="img-responsive">
      <p>Purples</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/red-cat_LRG_0.jpg" class="img-responsive">
      <p>Reds</p>
    </div>

    <div class="col-md-4 col-sm-3 col-xs-6">
      <img src="img/fabrics/colors/yellow-cat_LRG_0.jpg" class="img-responsive">
      <p>Yellows</p>
    </div>
  </div>
</section>