<section class="col-md-9 individual-items">
  <h1>{{page.title}}</h1>  
  <img src="{{page.thumbnail}}" class="img-responsive">
  <div class="row">
    {% for image in page.images %}
      <div class="col-md-4 col-sm-3 col-xs-6">
        <p>{{image.title}}</p>
        <img src="{{image.image_path}}" class="img-responsive lightbox" alt="{{image.title}}">
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-md-12 pricing">
      <ul>
        <li>Length</li>
        <ul>
          <li>Fat Quarter Yard, $10.50</li>
          <li>Half Yard, $21.00</li>
          <li>Full Yard, $42.00</li>
        </ul>
        <li>Print Size</li>
        <ul>
          <li>Small</li>
          <li>Medium</li>
          <li>Large</li>
        </ul>
      </ul>
    </div>
  </div>
</section>