body {
  background: #292929;
  color: #F0F0F0;
  font-family: Helvetica, Arial, Verdana, "Bitstream Vera Sans", sans-serif;
}


.container-fluid {
  max-width: 960px;
}

.row div {
  margin-top: 10px;
}

footer .container-fluid {
  text-align: center;
}

footer {
  margin-top: 60vh;
}
/* fonts */
h1 {
  font-size: 1.8em;
}

h1, h2 {
  color: #DFB579;
  font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p {
  font-size: 1em;
}

/* Links */
a, a:hover {
  color: #A3A3A3;
}

a:hover {
  text-decoration: underline;
  color: #DFB579;
}



a:visited {
  text-decoration: none;
}

/* sidebar */

aside ul {
  list-style-type: none;
  padding-left: 0;
}

aside li {
  margin: 0.1em 0 0.2em 0;
}

aside a {
  color: #A3A3A3;
}

aside a:hover {
  color: #DFB579;
}

aside h2 {
  color: #DFB579;
  font-size: 1.14em;
  text-transform: uppercase;
  margin-left: 8%;
}

aside h2:before {
  content: ' ';
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-left-color: #DFB579;
  position: absolute;
  z-index: 2;
  left: 8%;
}

/* Right Aside */

aside p {
  margin-top: 7%;
}

/* Header */

header {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

header h1 {
  font-size: 2.1em;
  font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, "Trebuchet MS", sans-serif;
  position: absolute;
  z-index: 10;
  top: 2px;
  left: 5px;
  font-weight: normal;
  letter-spacing: 3px;
}

h1 a, h1 a:hover {
  /*text-decoration: none;*/
  color: #525252;
}

/* footer */
  footer {
    width: 100%;
    background-color: black;
  }

/* Navbar  */
.navbar {
  margin-bottom: 6px;
}

.nav {
  float: right;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-default li {
  font-size: 1.1428em;
  margin: 10px 10px 5px 10px !important;
}

.nav a {
  padding: 5px !important;
}

.nav a:hover {
  background-color: #999 !important;
  border-radius: 5px;
  color: white !important;
}

/* Catalog on main page */

.catalog .row * {
  text-align: center;
}

.catalog .row p {
  color: #DFB579;
  font-weight: bold;
}

.catalog .row a:nth-child(2) {
  color: #DFB579;
  font-weight: bold;
  display: block;
  margin-top: 3px;
}

.catalog .row a {
  color: #DFB579;
  font-weight: normal;
  display: inline;
  font-size: 12px;
}

.catalog .img-responsive {
  margin: 0 auto;
}

/* Silk, Cotton, Accessories, Variety pack overview pages*/
.product-overview .row * {
  text-align: center;
}

.product-overview .img-responsive {
  margin: 0 auto;
}

.product-overview .row p {
  color: #DFB579;
}

.product-overview > img {
  margin-right: 5px;
}

.product-overview .row {
  clear: left;
  padding-top: 10px;
}

/*  Individual Item Pages */
.row > div > p {
  color: #DFB579;
}

.individual-items .row {
  margin-top: 3%;
}

.individual-items > .row:first-child div {
  text-align: center;
}

.individual-items ul:first-child {
  list-style-type: none;
  padding-left: 0;
}

/* History page */
  .flower {
    margin: 0 1% 1% 0;
  }

/* Technique page */

.technique img {
  margin-bottom: 10%;
}

/* Lightbox */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .5;
  z-index: 5;
  background: #000;
}

.lightbox-content {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-content img {
  border: 4px solid white;
}
img.lightbox {
  cursor: pointer;
}


/* Media Queries */

@media (max-width: 991px) {
    aside h2 {
      margin-left: 10px;
    }

    aside h2:before {
      left: 15px;
    }
}

@media (max-width: 707px) {
  header h1 {
    margin-top: 5px;
  }
}

@media (max-width: 481px) {
  header h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 382px) {
  header h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 320px) {
  header h1 {
    font-size: 1em;
  } 
}