---
layout: bootstrap
---

{% include header.html %}

<section class="jumbotron text-xs-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ page.title }}</h1>
        <p class="lead text-muted">{{ page.description }}</p>
        {% if page.date %}<p class="date">{{ page.date | date_to_string }}</p>{% endif %}
    </div>
</section>

{{ content }}

<footer class="text-muted">
    <div class="container">
        <p>{{ if site.copyright }}<span class="copyright">{{ site.copyright }}</span>{{ endif }}
            {% if page.path and site.github.repo and site.github.branch %}<a class="edit-page" href="http://prose.io/#{{ site.github.repo }}/edit/{{ site.github.branch }}/{{ page.path }}">✐</a>{% endif %}
        </p>
    </div>
</footer>
