---
layout: bootstrap
---


<div class="container-fluid">
    {% include header.html %}
    <div class="row">
      <header>
        <h1><a href="/">{{site.name}}</a></h1>
        <img src="../img/header-full.png" class="img-responsive">

        <!-- Logic here for header image if not main page <img src="/img/header.png" class="img-responsive"> 
         {% if page.url == '/' %}
        <img src="/img/fabric-full.jpg" class="img-responsive fabric-header">
        {% endif %} -->
      </header>
    </div>
    <div class="row">
      <aside class="col-md-3">
          <h2>Catalog</h2>
          <ul>
          <li><a href="#">Cotton Fabrics</a></li>
          <li><a href="#">Silk Fabrics</a></li>
          <li><a href="#">Cotton Variety Pack</a></li>
          <li><a href="#">Accessories</a></li>    
          </ul>
      </aside>
      {{content}}
    </div> <!-- row -->



</div> <!-- container-fluid -->  
{% include footer.html %}
