---
layout: bootstrap
---


<div class="container-fluid">
    {% include header.html %}
    <div class="row">
      <header class="col-md-12 header">
        <div class="row">
          <div class="col-md-12 title">
            <h1>{{site.name}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 fabric-header">

          </div>
        </div>
        <!-- <img src="/img/header.png" class="img-responsive"> -->
       <!--  {% if page.url == '/' %}
        <img src="/img/fabric-full.jpg" class="img-responsive fabric-header">
        {% endif %} -->
      </header>
    </div>
    <div class="row">
      <sidebar class="col-md-2">
          <p>side bar</p>    
      </sidebar>
      <section class="col-md-8">
        {{ content }}
      </section>
      <aside class="col-md-2">
        <p>Marjorie has been creating unique marbled cottons and silks since 1986. She began marbling fabric for quilts, but soon became so busy producing fabric for others that she had little time for quilting. In 1994, Marjorie began to sell fabric wholesale to quilt shops and designers.</p>

        <p>Through this website you can order custom fabrics directly from Marjorie. The images on these pages are just a small sampling of the range of colors and patterns which are available. If you have a specific request in mind, please describe it in the "Special Instructions" field when you place your order.</p>
      </aside>
    </div> <!-- row -->



</div> <!-- container-fluid -->  
{% include footer.html %}
